/* qualification.component.css */
.education-timeline {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
  padding: 20px;
  align-items: center;
  margin-bottom: 7%;
}

.education-card {
  width: 100%;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  
}

.logo-icon {
  width: 30px; /* Ajusta el tamaño según tus preferencias */
  height: 30px; /* Ajusta el tamaño según tus preferencias */
  margin-right: 10px; /* Ajusta el espaciado según tus preferencias */
}