<!-- qualification.component.html -->
<h1>Education</h1>
<div class="education-timeline">
    <div class="education-event" *ngFor="let education of educationList">
      <mat-card class="education-card">
        <mat-card-header>
          <mat-card-title>{{ education.institution }}</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <p>{{ education.degree }}</p>
          <p>{{ education.startDate }} - {{ education.endDate || 'Presente' }}</p>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
  
  <h1>Previous Experience</h1>
  <div class="experience-container">
    <mat-card class="experience-card" *ngFor="let job of jobList">
      <mat-card-header>
        <mat-card-title>{{ job.company }}</mat-card-title>
        <mat-card-subtitle>{{ job.position }}</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <p>{{ job.startDate }} - {{ job.endDate || 'Presente' }}</p>
      </mat-card-content>
    </mat-card>
  </div>
  