.container {
  display: flex;
  justify-content: space-between; /* Distribuir elementos a lo largo del contenedor */
  align-items: center; /* Centrar verticalmente en el contenedor */
  padding-top:6%
}

h1, h2 {
  color: white;
  font-family: 'TuFuente', sans-serif;
  font-weight: bold;
  text-shadow: -1px -1px 1px #000, 1px -1px 1px #000, -1px 1px 1px #000, 1px 1px 1px #000;
}

/* Estilos para agrandar los iconos */
mat-icon {
  font-size: 1em;
  height: 1em;
  width: 1em;
  margin-right: 15px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

/* Estilos para agrandar los iconos */
.icon-container {
  display: flex;
  font-size: 3em;
}

/* Estilos para el contenedor de texto */
.text-container {
  text-align: right; /* Alinea el texto a la derecha */
}

  