<h1>HELLO, I'M CAMILA</h1>
<h2>Front-End Developer</h2>

<div>
    <!-- Use the mat-icon component to display the LinkedIn icon with a link -->
    <a href="https://www.linkedin.com/in/camila-anais-mamani-cruz/" target="_blank" rel="noopener">
      <mat-icon svgIcon="linkedin" class="mat-primary"></mat-icon>
    </a>
  
    <!-- Use the mat-icon component to display the GitHub icon with a link -->
    <a href="https://github.com/CAMIANAIS" target="_blank" rel="noopener">
      <mat-icon svgIcon="github" class="mat-primary"></mat-icon>
    </a>
  </div>
  
