<h1>HELLO, I'M CAMILA</h1>
<h2>Front-End Developer</h2>
<p><i class="material-icons">email</i> Email: <a href="mailto:cmamanicr@unsa.edu.pe">cmamanicr@unsa.edu.pe</a></p>
<p><i class="material-icons">phone</i> Teléfono: +51 954832297</p>
<div>
    <!-- Use the mat-icon component to display the LinkedIn icon with a link -->
    <a href="https://www.linkedin.com/in/camila-anais-mamani-cruz/" target="_blank" rel="noopener">
      <mat-icon svgIcon="linkedin" class="mat-primary"></mat-icon>
    </a>
  
    <!-- Use the mat-icon component to display the GitHub icon with a link -->
    <a href="https://github.com/CAMIANAIS" target="_blank" rel="noopener">
      <mat-icon svgIcon="github" class="mat-primary"></mat-icon>
    </a>
  </div>
  
