/* FindEvents.css */
@import url('../../index.css');

.search-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 50px;
}

.search-input {
  flex-grow: 1;
  width: 90%;
  padding: 10px;
  margin: 5px;
}

.search-button {
  background-color: var(--md-ref-palette-primary80);
  color: black;
  border: none;
  padding: 10px;
  margin: 5px;
  cursor: pointer;
  width: 50px; /* Ajusta el ancho según tus necesidades */
  border-radius: 5px;
  transition: background-color 0.3s;
}

.search-button:hover {
  background-color: var(--md-ref-palette-primary90);
}

.filter-button,
.category-button {
  background-color: var(--md-ref-palette-primary80);
  color: black;
  border: none;
  padding: 10px;
  margin: 5px;
  cursor: pointer;
  width: 150px;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.filter-button:hover,
.category-button:hover {
  background-color: var(--md-ref-palette-primary90);
}
