<div class="custom-modal-content">
    <h3>Campus Coordinator</h3>

    <h4>Impact Starup Competition</h4>
    <ul>
    <li>•With 15 volunteers, I organized an in-person event with more than 100 participants.</li>
    <li>• I coordinated the participation of 3 incubators, mentors, juries and sponsors.</li>

    </ul>
    <h4>Hult Prize</h4>
    <li>• Participation of students in more than 6 countries.</li>
    <li>• We form a network of 50 mentors</li>
    <li>• Participation of 31 registered teams</li>

</div>