<app-nav></app-nav>
<div class="background-container">
    <video autoplay muted loop>
        <source src="assets/img/profile-video.mp4" type="video/mp4">
        <!-- Añade formatos adicionales según sea necesario -->
      </video>
    <app-header></app-header>
    <app-about-me id="about"></app-about-me>
</div>
<div class="background">
    <app-skills id="skills"></app-skills>
    <app-services id="services"></app-services>
    <app-projects id="projects"></app-projects>
    <app-qualification id="qualification"></app-qualification>
    <app-languages id="languages"></app-languages>
    <app-courses id="courses"></app-courses>
    <app-contact id="contact"></app-contact>
</div>
