
  <div class="container-about-me">
    
    <p>
      I am from Perú! I am self-taught with a quick learning ability and an agile
      approach to project execution. I have strong web programming
      skills, including HTML, CSS, JavaScript, Angular, and React.
      Additionally, I excel in developing applications in Java and C#,
      and in database management, especially with MySQL Server. My
      experience in entrepreneurship, startups, and social innovation
      ecosystems has enriched my perspective and prepared me to
      face diverse challenges.
    </p>

    <div class="card-container">
      <!-- Card 1: +6 projects -->
      <mat-card class="small-card">
        <mat-card-content>
          <p>+6 Projects</p>
        </mat-card-content>
      </mat-card>

      <!-- Card 2: Quick Learning Ability -->
      <mat-card class="small-card">
        <mat-card-content>
          <p>Quick Learning Ability</p>
        </mat-card-content>
      </mat-card>

      <!-- Card 3: -2 Sprints for Each Project -->
      <mat-card class="small-card">
        <mat-card-content>
          <p>-2 Sprints for Each Project</p>
        </mat-card-content>
      </mat-card>
    </div>

    
    <button mat-raised-button color="primary" (click)="redirectToCV()">
      <mat-icon>attachment</mat-icon>
      Download CV
    </button>
  
  </div>
