
  <div>
  
    <p>
      I am self-taught with a quick learning ability and an agile
      approach to project execution. I have strong web programming
      skills, including HTML, CSS, JavaScript, Angular, and React.
      Additionally, I excel in developing applications in Java and C#,
      and in database management, especially with MySQL Server. My
      experience in entrepreneurship, startups, and social innovation
      ecosystems has enriched my perspective and prepared me to
      face diverse challenges.
    </p>
  <!-- projects.component.html -->
  <img class="profile" src="/assets/img/profile.jpeg" alt="profile-image">

    <div class="card-container">
      <!-- Card 1: +6 projects -->
      <mat-card class="small-card">
        <mat-card-content>
          <p>+6 Projects</p>
        </mat-card-content>
      </mat-card>

      <!-- Card 2: Quick Learning Ability -->
      <mat-card class="small-card">
        <mat-card-content>
          <p>Quick Learning Ability</p>
        </mat-card-content>
      </mat-card>

      <!-- Card 3: -2 Sprints for Each Project -->
      <mat-card class="small-card">
        <mat-card-content>
          <p>-2 Sprints for Each Project</p>
        </mat-card-content>
      </mat-card>
    </div>

    <div>
      <!-- Use the mat-icon component to display the LinkedIn icon with a link -->
      <a href="https://www.linkedin.com/in/camila-anais-mamani-cruz/" target="_blank" rel="noopener">
        <mat-icon svgIcon="linkedin" class="mat-primary"></mat-icon>
      </a>
    
      <!-- Use the mat-icon component to display the GitHub icon with a link -->
      <a href="https://github.com/CAMIANAIS" target="_blank" rel="noopener">
        <mat-icon svgIcon="github" class="mat-primary"></mat-icon>
      </a>
    </div>
    
    <button mat-raised-button color="primary" (click)="redirectToCV()">
      <mat-icon>attachment</mat-icon>
      Download CV
    </button>
  


  
    <h2>IDIOMAS</h2>
    <p>Inglés avanzado</p>
    <p>Italiano intermedio</p>
  
    <h2>CAPACITACIONES Y CURSOS ADICIONALES</h2>
    <ul>
      <li>AI Foundation course de Encode y Venture Mine (noviembre 2023)</li>
      <li>Workshop de Innovación de Comunidad Jóvenes Líderes IPAE</li>
      <!-- Agregar otros cursos y capacitaciones -->
    </ul>
  

  
  </div>
