<h1>Courses</h1>
<div class="courses">
<mat-card class="courses-card">
    <mat-card-content>AI Foundation course by Encode and Venture Mine</mat-card-content>
</mat-card>

<!-- Segunda tarjeta para "Web Development internship position with CodSoft" -->
<mat-card class="courses-card">
    <mat-card-content>Web Development internship position with CodSoft</mat-card-content>
</mat-card>

<mat-card class="courses-card">
  <mat-card-content>De 0 a MVP: Diseño Web by Wichay y Google Developers Groups Huancayo</mat-card-content>
</mat-card>