/* Agrega este código a tu archivo de estilos CSS */

.text-gray-600 {
    color: #4a5568;
  }
  
  .body-font {
    font-family: 'Roboto', sans-serif;
  }
  
  .relative {
    position: relative;
  }
  
  .absolute {
    position: absolute;
  }
  
  .inset-0 {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
  
  .bg-gray-300 {
    background-color: #e2e8f0;
  }
  
  iframe {
    width: 100%;
    height: 100%;
    border: 0;
  }
  
  .container {
    width: 100%;
    padding-right: 1rem;
    padding-left: 1rem;
    margin-right: auto;
    margin-left: auto;
  }
  
  .px-5 {
    padding-left: 1.25rem;
    padding-right: 1.25rem;
  }
  
  .py-24 {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }
  
  .mx-auto {
    margin-left: auto;
    margin-right: auto;
  }
  
  .flex {
    display: flex;
  }
  
  .lg:w-1/3 {
    width: 33.33333%;
  }
  
  .md:w-1/2 {
    width: 50%;
  }
  
  .bg-white {
    background-color: #ffffff;
  }
  
  .rounded-lg {
    border-radius: 0.5rem;
  }
  
  .p-8 {
    padding: 2rem;
  }
  
  .md:ml-auto {
    margin-left: auto;
  }
  
  .w-full {
    width: 100%;
  }
  
  .mt-10 {
    margin-top: 2.5rem;
  }
  
  .md:mt-0 {
    margin-top: 0;
  }
  
  .relative {
    position: relative;
  }
  
  .z-10 {
    z-index: 10;
  }
  
  .shadow-md {
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
  }
  
  .text-gray-900 {
    color: #1a202c;
  }
  
  .text-lg {
    font-size: 1.125rem;
  }
  
  .mb-1 {
    margin-bottom: 0.25rem;
  }
  
  .font-medium {
    font-weight: 500;
  }
  
  .title-font {
    font-family: 'Montserrat', sans-serif;
  }
  
  .leading-relaxed {
    line-height: 1.625;
  }
  
  .mb-5 {
    margin-bottom: 1.25rem;
  }
  
  .text-gray-700 {
    color: #4a5568;
  }
  
  .relative {
    position: relative;
  }
  
  .mb-4 {
    margin-bottom: 1rem;
  }
  
  .leading-7 {
    line-height: 1.75;
  }
  
  .text-sm {
    font-size: 0.875rem;
  }
  
  .border {
    border-width: 1px;
  }
  
  .focus:border-purple-500:focus {
    border-color: #6b46c1;
  }
  
  .focus:ring-2 {
    box-shadow: 0 0 0 2px #d6bcfa;
  }
  
  .focus:ring-purple-200:focus {
    box-shadow: 0 0 0 2px rgba(179, 139, 255, 0.5);
  }
  
  .outline-none {
    outline: 0 !important;
  }
  
  .py-1 {
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
  }
  
  .px-3 {
    padding-left: 0.75rem;
    padding-right: 0.75rem;
  }
  
  .transition-colors {
    transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out, border-color 0.2s ease-in-out;
  }
  
  .duration-200 {
    transition-duration: 0.2s;
  }
  
  .ease-in-out {
    transition-timing-function: ease-in-out;
  }
  
  .text-white {
    color: #ffffff;
  }
  
  .bg-purple-500 {
    background-color: #805ad5;
  }
  
  .border-0 {
    border-width: 0;
  }
  
  