<h1>Languages</h1>
<div class="languages">
    <mat-card class="language-card">
      <mat-card-header>
        <img src="assets/img/eeuu.png" alt="English Flag" class="flag-icon" />
        <mat-card-content>English</mat-card-content>
      </mat-card-header>
    </mat-card>
  
    <mat-card class="language-card">
      <mat-card-header>
        <img src="assets/img/italia.png" alt="Italian Flag" class="flag-icon" />
        <mat-card-content>Italian</mat-card-content>
      </mat-card-header>
    </mat-card>
  </div>

  
