<h1>Languages</h1>
<div class="languages">
    <mat-card class="language-card">
      <mat-card-header>
        <img src="assets/img/eeuu.png" alt="English Flag" class="flag-icon" />
        <mat-card-title>Inglés</mat-card-title>
      </mat-card-header>
    </mat-card>
  
    <mat-card class="language-card">
      <mat-card-header>
        <img src="assets/img/italia.png" alt="Italian Flag" class="flag-icon" />
        <mat-card-title>Italiano</mat-card-title>
      </mat-card-header>
    </mat-card>
  </div>
  <h1>Cursos</h1>
  <div class="courses">
  <mat-card class="courses-card">
    <mat-card-header>
      <mat-card-title>AI Foundation course de Encode y Venture Mine</mat-card-title>
    </mat-card-header>
  </mat-card>

  <!-- Segunda tarjeta para "Web Development internship position with CodSoft" -->
  <mat-card class="courses-card">
    <mat-card-header>
      <mat-card-title>Web Development internship position with CodSoft</mat-card-title>
    </mat-card-header>
  </mat-card>
  
