/* services.component.css */
.flag-icon {
    width: 30px; /* Ajusta el tamaño según tus preferencias */
    height: 20px; /* Ajusta el tamaño según tus preferencias */
    margin-right: 10px; /* Ajusta el espaciado según tus preferencias */
  }
  

  .languages {
    display: flex;
    gap: 20px;
    padding-right: 250px;
    padding-left: 250px;
    align-items: center;
    margin-bottom: 7%;
  }
  

  .language-card {
    width: 100%;
    background-color: white;
    border: 1px solid #ccc; /* Puedes cambiar el color del borde según tus preferencias */
    border-radius: 8px; /* Añadir esquinas redondeadas si lo deseas */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Añadir una sombra sutil */
  }